/*移动样式*/
@media only screen and (max-width: 760px){
.page-header__wrapper{display:none;}   
.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: .02667rem;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #000;
    z-index: 999999
}
.nuxt-progress.nuxt-progress-notransition {
    transition: none
}
.mb80{margin-bottom:5vw}
.consult-service
{background: url(../fonts/b3c31b1673074325b0ec33e9b7550f0b.woff) no-repeat 50%;
    background-size: 100% 100%
}
.page-header__more {
    position: relative
}
.header__dropdown {
    position: absolute;
    right: 37%;
    top: 150%;
    z-index: 2;
    padding: .13333rem 0;
    border-radius: .05333rem
}
.header__dropdown a {
    display: block;
    padding: .13333rem .26667rem;
    white-space: nowrap;
    transition: background-color .2s
}
.header__dropdown a:hover {
    background-color: #f8f9fa;
    color: #000
}
.change-btn {
    background: none
}
.banner[data-v-23c79267] {
    width: 100%
}

.page-footer {
    background-color: #08172d
}
.page-footer .content {
    padding: 1.06667rem .4rem .8rem
}
.page-footer .row {
    margin-bottom: .4rem;
    display: flex;
    justify-content: space-between
}
.page-footer .logo {
    width: 4.26667rem;
    height: 1.13333rem
}
.page-footer .qrcode {
    width: 2.4rem;
    height: 2.4rem
}
.page-footer dt {
    margin-bottom: .10667rem;
    font-size: .48rem;
    color: #fff
}
.page-footer dd {
    padding: .10667rem 0;
    font-size: .37333rem;
    color: #b5bac0
}
.page-footer .extra {
    padding: .4rem;
    border-top: .01333rem solid #fff;
    font-size: .26667rem;
    color: #b5bac0
}
.flex {
    margin-left: .13333rem;
    text-align: center
}
.flex, .name {
    overflow: hidden
}
.name {
    padding: .13333rem 0;
    color: #fff;
    font-size: .32rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 2.4rem
}
.margin-t20 {
    margin-top: .66667rem
}
.left {flex: 1}
.bottom-application{padding: 1.06667rem .53333rem;}
.bottom-application__row{margin-top:2vw}
.bottom-application__row input{
    display: flex;
    border: .01333rem solid #999;
    width: 100%;    padding: .26667rem;
    margin-bottom: .26667rem;
}
.bottom-application textarea{
   display: flex;
    border: .01333rem solid #999;
    width: 100%;
}
.bottom-application__button{margin:2vw auto 0 auto;text-align:center}
    
.page-footer {background-color: #08172d; padding: 0 2vw; }
.page-footer .hs-col-3{ display: none;}    
.page-footer .content {
    padding: 1.06667rem .4rem .8rem
}
.page-footer .row {
    margin-bottom: .4rem;
    display: flex;
    justify-content: space-between
}
.page-footer .logo {width: 4.26667rem; margin-bottom:2vw}
.page-footer .hs-col-4 { float:left;width:30%; display: inline-block;padding-top:5vw}  
.page-footer .imgtb{width:100%; text-align: center;}
.page-footer .imgtb .name{margin:0; text-align: center; display: block;width: 100%}    
.page-footer .hs-col-8{display: inline-block;float:right;width:50% text-align: center;padding-top:20vw}   
.page-footer__foot {
    padding: .4rem;
    border-top: .01333rem solid #fff;
    font-size: .26667rem;
    color: #b5bac0; clear: both;
}    
.page-footer__links{color: #b5bac0;line-height: 10vw;clear: both}  
	
/*移动导航*/

.mobile{
	width: 100%;
	float: left;
}
.mobile-inner{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	background-color: #fafafa;
	position: relative;
}
.mobile-inner img{ margin:1vw 0 0 1vw}
.mobile-inner p{
	color: #676767;
	line-height: 25px;
	font-size: 16px;
	padding-bottom: 30px;
	padding-right: 30px;
	padding-left: 30px;
	margin:0px;
}
.mobile-inner-header{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0px;
	left: 0px;
}
.mobile-inner-header-icon{
	color: #ffffff;
	text-align: center;
	float:right;
	width: 50px;
	position: relative;
	-webkit-transition: background 0.5s;
	-moz-transition: background 0.5s;
	-o-transition: background 0.5s;
	transition: background 0.5s;
}
.mobile-inner-header-icon:hover{
	background-color: rgba(255,255,255,0.2);
	cursor: pointer;
}
.mobile-inner-header-icon span{
	position: absolute;
	left: 0;
	top: 2vw;
	width: 25px;
	height: 1px;
	background-color: rgba(255,255,255,1);
}


	



	
.mobile-inner-header-icon-click span:nth-child(1){
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAsVBMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////+3mHKcAAAAOnRSTlMAAQQFBgcJCgsMDhEgIyYoKTI3ODxGTlVmaGxvcnR3enyBhJWcoaeqra6xs7a3ub3A2N/h4+fo9/v+1vCtagAAANpJREFUKM+F09cSgjAQBdAo9oa9Ye9SRLHn/z/MJZBMyg7m6WbPwCS7QMi/1dqexzm9WN+4q0ocum9KaVhU1X5B8VaAtKPxChRvPlhxCDFgiXqWoXQCeZ5E6lq6ftqwyfuac/1O2bYYKM6VOunLFBe6EEeRHFHJfUwlRxX8kqWElMIsBb9yXWKDE2eW+ocp5rKarqrujXtaXoWINyJxo5Lpkkr3P+URlfzIvBZpvRK+j3cbo5Nl7j3YeGaf+fPxp7hGppB6B2L1icyI+SEZ9cixzRkMZv2/vx/5Ac+/V7tP54zdAAAAAElFTkSuQmCC);
background-size: .48rem .4rem;
    background-color: transparent;
    width: .8rem;
    height: .8rem;
    background-position: 50%;
    background-repeat: no-repeat;
	}		

	


@keyframes clickfirst {
  0% {
	  transform: translateY(4px) rotate(0deg);
	  
  }

  100% {
    transform: translateY(0) rotate(45deg);
  }
}	



@keyframes clicksecond {
  0% {
	  transform: translateY(-4px) rotate(0deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}	

.mobile-inner-header-icon-out span:nth-child(1){
background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAeBAMAAAC2z6FgAAAAD1BMVEUAAAD///////////////+PQt5oAAAABHRSTlMABIfr94D7OgAAAChJREFUKM9jEDJxQQHOigwqLmjAicEEXcgZmxAWjViMpz8Y9SMN/AgAyspSe6qpWJQAAAAASUVORK5CYII=);
    background-size: .48rem .4rem;
    background-color: transparent;
    width: .8rem;
    height: .8rem;
    background-position: 50% ;
    background-repeat: no-repeat;
}
	


@keyframes outfirst {
  0% {
    transform: translateY(0) rotate(-45deg);
  }

  100% {
    transform: translateY(-4px) rotate(0deg);
  }
}	



@keyframes outsecond {
  0% {
    transform: translateY(0) rotate(45deg);
  }

  100% {
    transform: translateY(4px) rotate(0deg);
  }
}

.mobile-inner-nav{
	background-color: rgba(0,0,0,0.9);
	width: 100%;
	position: absolute;
	top: 40px;
	left: 0px;
	padding-top: 30px;
	padding-bottom: 80px;
	display: none; z-index: 999;
}
.mobile-inner-nav a{
	display: inline-block;
	line-height: 50px;
	text-decoration: none;
	width: 80%;
	margin-left: 10%;
	color: #FFFFFF;
	border-bottom: solid 1px rgba(255,255,255,0.3);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	font-weight:300;
}
.mobile-inner-nav a:hover{
	color: rgba(255,255,255,0.4);
	border-bottom: solid 1px rgba(255,255,255,0.2);
}
.mt80{margin:5vw 0 0 0;}	
	
.responsive-image__cover {

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.hs-section{position: relative;
    padding: .26667rem;
    font-size: .53333rem!important;
    line-height: 1.2;
    font-weight: 700; margin:2vw
}
/*统一新闻资讯*/
.development-items
{background: #fff;
    box-shadow: 0 0.02667rem 0.10667rem rgba(0,0,0,.12);
    margin-bottom: .53333rem; margin:0 2vw}
.development-items .h4
 {
    padding: .26667rem .53333rem;
    font-size: .48rem;
}
.development-items .padding-20 div{
    color: #666;
    padding: 0 .53333rem .66667rem;
    font-size: .32rem;
    height: .26667rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
 .button_details{ margin: 5vw auto; text-align: center}
 /*子站统一*/

.son_list ul{padding:0;margin:0}
#aside-tab{display:none;}

/*end*/
}

